# Basic bioinformatics packages
biopython
numpy
pandas
openpyxl
xlrd

# RNA-seq analysis packages
cutadapt>=3.5
multiqc>=1.11

# Quality control and visualization
matplotlib
seaborn
scikit-learn
torch 
torchvision 
torchaudio

reportlab
